@import '../../styles/variables.scss';

.order {
  min-height: 589px;
  margin: 45px 0;
  position: relative;

  display: grid;
  grid-template-columns: 4fr 3fr;

  border-radius: 5px;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.07);
  background: linear-gradient(180deg, #ffffff 0%, #fefefe 100%);
}

@media (max-width: 700px) {
  .order {
    display: block;
  }
}

@media print {
  .order {
    display: block;
    margin: 0;

    box-shadow: none;
  }
}
