@import '../../styles/variables.scss';

.form {
  &__label {
    margin: 0;
    padding: 0 0 6px;

    font-size: 16px;
    font-weight: 300;
    color: $accent-color;
    white-space: nowrap;
  }

  &__group {
    margin-bottom: 20px;
  }

  &__rows {
    display: flex;
    flex-direction: column;

    &_small {
      gap: 10px;
    }

    &_big {
      gap: 20px;
    }
  }

  &__columns {
    display: grid;
    align-items: center;

    &_small {
      grid-template-columns: repeat(2, 95px);
      gap: 30px;
    }

    &_big {
      grid-template-columns: 180px 1fr;
      gap: 10px;
    }
  }

  &__phone-info {
    max-width: 120px;
    margin: 0;

    font-size: 13px;
    font-weight: 300;
    color: $dim-color;
  }

  &__submit {
    @extend %hover;
    width: 180px;
    height: 45px;
    padding: 0;

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color: #fff;

    background: rgba(90, 16, 148, 0.8);
    border: 1px solid rgba(67, 28, 93, 0.8);
    border-radius: 5px;

    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .form {
    &__columns {
      &_big {
        grid-template-columns: 3fr 2fr;
      }
    }
  }
}

@media (max-width: 400px) {
  .form {
    &__columns {
      &_big {
        grid-template-columns: auto;
      }
    }
    &__phone-info {
      max-width: initial;
    }
  }
}
