@import '../../styles/variables.scss';

.form-header {
  padding: 20px 0;

  &_columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;

    font-size: 26px;
    font-weight: 300;
    color: $accent-color;
  }

  &__link {
    @extend %link-button;
    @extend %hover;

    font-size: 12px;
    color: $accent-color;
    text-decoration: underline;
  }

  &__secure-info {
    height: 26px;
    margin: 15px 0 0;
    padding-left: 24px;

    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 300;
    color: $placeholder-color;

    background: url('../../assets/secure_icon.svg') left center /
      19px 26px no-repeat;
  }
}
