@import '../../styles/variables.scss';

.form {
  padding: 20px 40px 44px;

  &__title {
    margin: 0;
    padding: 20px 0;

    font-size: 26px;
    font-weight: 300;
    color: $accent-color;
  }
}
