@import '../vendor/fonts.scss';
@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  background-color: $page-bg;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}
