$page-bg: #e6e9f0;
$header-bg: #fff;
$form-bg: #fff;
$button-bg: rgba(90, 16, 148, 0.8);
$item-bg: #f3f3f3;

$text-color: #000;
$header-color: #5a1094;
$sub-color: #777879;
$description-color: #2b2525;
$total-color: #431c5d;
$placeholder-color: #6b6b6b;
$step-color: #979797;
$button-color: #fff;
$terms-color: #9c9c9c;

$button-border: 1px solid rgba(67, 28, 93, 0.8);
$item-border: 1px solid #e3e3e3;
