$page-bg: #e6e9f0;
$header-bg: #fff;
$item-bg: #f3f3f3;

$text-color: #000;
$text-lighter-color: #2b2525;
$dim-color: #777879;
$dim-lighter-color: #979797;
$dim-lightest-color: #9c9c9c;
$accent-color: #5a1094;
$accent-darker-color: #431c5d;
$placeholder-color: #6b6b6b;

%link-button {
  padding: 0;

  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

%hover {
  transition: opacity 200ms ease-out;

  &:hover {
    opacity: .7;
  }
}
