@import '../../styles/variables.scss';

.form {
  &__title,
  &__subtitle {
    margin: 0;

    font-weight: 300;
    color: $accent-color;
  }

  &__title {
    padding: 20px 0 10px;

    font-size: 26px;
  }

  &__subtitle {
    padding: 10px 0 6px;

    font-size: 16px;
  }

  &__group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__columns {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
    gap: 10px;
  }

  &__phone-info {
    margin: 0;

    font-size: 13px;
    font-weight: 300;
    color: $dim-color;
  }

  &__submit {
    @extend %hover;
    width: 180px;
    height: 45px;
    padding: 0;

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color: #fff;

    background: rgba(90, 16, 148, 0.8);
    border: 1px solid rgba(67, 28, 93, 0.8);
    border-radius: 5px;

    cursor: pointer;
  }
}
