@import '../../styles/variables.scss';

.steps-nav {
  &__list {
    display: flex;
    gap: 14px;
  }

  &__link {
    @extend %link-button;

    font-size: 12px;
    color: $dim-lighter-color;

    &_normal {
      @extend %hover;
    }

    &_active {
      color: $accent-color;
    }

    &_disabled {
      cursor: default;
    }
  }

  &__divider {
    width: 10px;
    height: 20px;

    background: url('../../assets/divider.svg') center center / cover no-repeat;
  }
}
